header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

header .container {
  position: relative;
  z-index: 2;
  margin: 0;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
li img{
  max-width: 18vw;}
li{
  text-decoration: none;
}
.list-group-item {
  background-color: transparent;
  border: none;
  width: 220px;
}
.list-group{
  padding: 2vw;
width: 75vw;

}
ul {


  justify-content: center;
}
.bandeau img{
  display: block;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;

}
.h-100{
  margin: 0;
  width:100vw;
}
.container {
margin: 0;
width: 100vw;
padding: 0;
}
.d-flex{
  width: 100vw;
  margin: 0;
}
#logo {
  display: flex;
  align-items: center;
  width: 10vw;
  position: relative;
  margin: auto;
  margin-top: 0;

}
